h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

footer {
    height: 85px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.modal-body {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

